body{
    margin: 0px;
    padding: 0px;
}
.sign-up {
    width: 300px;
    padding: 30px;
    text-align: center;
    background: rgba(165, 19, 181, 0.7) ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    border-radius: 50px;
    
}
.sign-up input{
    display: block;
    width: 100%;
    padding-left: 10px;
    height: 30px;
    box-sizing: border-box;
    outline: none;
    border: rgb(35, 7, 17);
    font-size: 14px;
}
.text{
    margin: 20px 0px;
    border-radius: 5px;
}
.btn{
    margin-top: 60px;
    margin-bottom: 20px;
    background: #8948de;
    color: rgb(236, 207, 207);
    border-radius: 40px;
    cursor: pointer;
    transition: 0.8s;
}
.btn:hover{
    transform: scale(0.9);
}